[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
python-multipart = "*"
psycopg = {extras = ["binary"], version = "*"}
reportlab = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
